// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flight {
  margin: 20px;
  padding: 10px;
  border: 2px solid blue;
  background-color: beige;
}
